*{
	box-sizing: border-box;
}
html,
body{
	margin: 0;
	padding: 0;
}
.dothiv{
	background: @dothiv-background;
	color: @dothiv-magenta;
	font-family: @dothiv-font;
	font-size: @dothiv-fontsize;
}
.stage {
	background: data-uri('../../public/bg.svg') repeat fixed;
  color: @dothiv-color;
  box-shadow: inset 0 -30px 120px @dothiv-magenta;
}
.generator-content {
	background-color: @dothiv-white;
}
.hero,
.footer,
.entry,
.exit {
	margin: 0 auto;
	padding: 0 @dothiv-base-x-padding;
	width: @dothiv-width;
}
.dothiv-state{
	position: fixed;
	top: 0;
	left: -2000px;
	left: -100vw;
}
@media (max-width: 790px) {
	.hero,
	.footer,
	.entry,
	.exit {
		width: 100%;
		margin: 0;
	}
	.label.label{
		font-size: 20px;
		margin: 15px 0 10px 0;
	}
	.input.input{
		font-size: 20px;
	}
	.row.row{
		margin: 0;
		width: 100%;
	}
	.demo.demo .dothiv-replacement-aside{
		bottom: 0;
	}
	.hero.hero .p{
		width: 100%;
	}
	.steps.steps{
		display: block;
		li{
			display: block;
			width: 100%;
			max-width: none;
			font-size: 20px;
			&::before{
				font-size: 25px;
			}
			.h{
				max-width: none;
				margin: -10px 0 0 0;
				font-size: 35px;
			}
			p{
				width: auto;
				max-width: none;
			}
		}
	}
	.h3.h3,
	.legend.legend{
		font-size: 34px;
	}
	.inline-button.inline-button{
		display: block;
		font-size: 20px;
		text-align: center;
	}
	.nav.nav{
		padding: 0;
		li{
			display: block;
			padding: 0 0 15px 0;
		}
		a{
			display: block;
			padding: 10px 15px;
			font-size: 20px;
			border: 1px solid @dothiv-white;
		}
}

}
