*{
	box-sizing: border-box;
}
.dothiv{
	background: @dothiv-background;
	color: @dothiv-color;
	font-family: @dothiv-font;
	font-size: @dothiv-fontsize;
}
.header,
.main,
.footer{
	width: @dothiv-width;
	margin: 0 auto;
	padding: 0 @dothiv-base-x-padding;
}
