.state{
	position: absolute;
	left: -1000px;
}
.entry{
	height: 0;
	overflow: hidden;
}
.exit{
	margin-top: 40px;
	opacity: 0;
	transition: .5s opacity ease-in-out;
}
.output{
	display: block;
	margin: 0 auto;
	padding: 10px;
	width: 100%;
	height: 100px;
	border: 1px solid @dothiv-white;
	background: rgba(52, 45, 45, 0.3);
	overflow: auto;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 12px;
	&:focus{
		outline: none;
		box-shadow: 0 0 5px @dothiv-white;
	}
}
.state:checked + .entry{
	height: auto;
}
.state:checked + .exit{
	opacity: 1;
}
.steps{
	display: table;
	list-style-type: none;
	table-layout: fixed;
	margin: 0;
	padding: 0;
	counter-reset: steps;
	li{
		display: table-cell;
		position: relative;
		vertical-align: top;
		padding: 10px 20px 10px 65px;
		width: 20%;
		&:last-child{
			padding-right: 0;
		}
		&::before{
			position: absolute;
			top: 0;
			left: 0;
			counter-increment: steps;
			content: counter(steps);
			width: 50px;
			height: 50px;
			line-height: 50px;
			border-radius: 50%;
			font-size: @dothiv-h2-fontsize;
			text-align: center;
			border: 1px solid @dothiv-white;
		}
		h4 {
			padding-bottom: 4px;
			max-width: 140px;
			border-bottom: 1px solid #eee;
			border-bottom: 1px solid rgba(255, 255, 255, 0.6);
			font-weight: bold;
		}
		p {
			max-width: 140px;
		}
	}
}
.fieldset{
	border: 1px solid @dothiv-white;
}
.legend{
	font-size: @dothiv-h3-fontsize;
	padding: 30px 15px;
}
.row{
	display: block;
	width: 75%;
	margin: 0 auto 15px auto;
}
.label{
	display: block;
	padding-bottom: 5px;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
}
.input{
	position: relative;
	width: 100%;
	min-height: 35px;
	border: 1px solid @dothiv-white;
	background: @dothiv-magenta;
	&.text{
		padding: 5px 7.5px;
	}
	.native{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		background: transparent;
		border: none;
	}
}
.input, .native{
	&:focus{
		outline: none;
	}
}
.input:focus{
	box-shadow: 0 0 5px @dothiv-white;
}
.color{
	.native::-webkit-color-swatch{
		height: 22.5px;
		border: 1px solid @dothiv-white;
	}
}
.entry{
	.button{
		width: 100%;
		margin-top: 15px;
	}
}
