@dothiv-magenta: #e00073;
@dothiv-recessed-magenta: #d767a0;
@dothiv-highopacity-magenta: rgba(224, 0, 115, 0.15);
@dothiv-darkgrey: #A1A1A1;
@dothiv-lightgrey: #eee;
@dothiv-white: #fefefe;

@dothiv-background: @dothiv-magenta;
@dothiv-color: @dothiv-white;

@dothiv-font: 'Source Sans Pro', sans-serif;
@dothiv-gfont: 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:300';
@dothiv-fontsize: 13px;

@dothiv-h0-fontsize: 64px;
@dothiv-h1-fontsize: 23px;
@dothiv-h2-fontsize: 20px;
@dothiv-h3-fontsize: 17px;
@dothiv-h4-fontsize: 14px;

@dothiv-h-fontweight: normal;
@dothiv-h-fontweight-heavy: bold;

@dothiv-width: 790px;
@dothiv-base-padding: 10px;
@dothiv-base-x-padding: @dothiv-base-padding*2;
@dothiv-base-y-padding: @dothiv-base-padding*1.5;
